
.create-calendar-cal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#create-calendar-ticket-button {
    background-color: darkblue;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px;
    justify-self: end;
}
#create-calendar-ticket-button:hover {
    background-color: orange;
    box-shadow:0px 0px 0px 3px darkblue inset;
}
.create-request-item-height {
    border: 1px solid rgb(213, 215, 219);
    height: 100px;
    display: flex;
    flex-direction: column;
}
.create-request-calendar-selected-days {
    display: grid;
    grid-auto-flow: column;
    text-align: right;
    font-weight: 450;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    flex-grow: 1;
}
.create-calendar-select-div select {
    height: 2em;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(213, 215, 219);
    box-shadow: none;
    transition: box-shadow 0.1s ease;
    padding-left: 5px;
    font-weight: lighter;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}
.create-calendar-select-div {
    padding: 15px;
}
.create-calendar-request-type select:focus {
    box-shadow: 0 0 2px 2px lightskyblue;
    position: relative;
}
.create-calendar-request-type {
    border: 1px solid rgb(213, 215, 219);
}
.create-calendar-right-container-header {
    border-left: 5px solid rgb(213, 215, 219);
    border-bottom: 1px solid rgb(213, 215, 219);
    text-align: left;
    padding-left: 10px;
    font-weight: 500;
    padding: 10px 0 10px 10px;
}
#create-calendar-request-pending-body {
    position: relative;
    z-index: 1;
    background-color: white;
    display: flex;
    float: left;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: stretch;
}
.create-calendar-req-cont {
    display: grid;
    grid-template-columns: 50% auto;
    border: 1px solid rgb(213, 215, 219);
    padding: 15px;
    column-gap: 5px;
    background-color: white;
}
.create-calendar-request-item-note {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid rgb(213, 215, 219);
}
.create-calendar-request-pending-item-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.bold {
    font-weight: bold;
}
#create-calendar-request-note-input {
    margin: 10px 10px;
    resize: none;
    border: none;
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
}
#create-calendar-request-note-input:focus {
    outline: none;
}
.create-calendar-request-pending-textbox {
    width: 100%;
    border: 2px solid black;
    text-align: left;
    padding: 5px 10px;
    background-color: lightgray;
}
#create-calendar-request-pending-buttons {
    position: relative;
    z-index: 1;
}
.create-calendar-request-pending-item-data {
    text-align: left;
    padding: 10px;
}
.create-calendar-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-calendar-hole {
    width: 75%; height: 75%;
    border-radius: 50%;
    background: #fff;
    border: 2px solid black;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.create-calendar-donut {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 2px solid black;
    aspect-ratio: 1;
    flex-grow: 1;
}
.create-calendar-donut-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.stats-header {
    font-weight: 500;
    line-height: 1.25rem;
}
.create-calendar-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}
.create-calendar-stats-container {
    border: 1px solid rgb(213, 215, 219);
}
.calendar-container-stats-header {
    border-left: 5px solid rgb(213, 215, 219);
    border-bottom: 1px solid rgb(213, 215, 219);
    text-align: left;
    font-weight: 500;
    padding: 10px 0 10px 10px;
}