.manager-request-main {
    background: linear-gradient(45deg, #FFB428 0%,
    #FA8214 45%, #FA8214 100%);
    width: 100%;    
    display: flex;
    align-self: stretch;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
}
.manager-request-container {
    width: 90%;
    max-height: 90%;
}
.manager-request-body {
    border: 2px solid slategrey;
    position: relative;
    background-color: white;
    display: flex;
    float: left;
    width: 100%;
    flex-direction: column;
    justify-content: stretch; 
}