.manager-request-main {
    background-color: rgb(233, 234, 236);
    width: 100%;    
    display: flex;
    align-self: stretch;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
    overflow-y: overlay;
    padding: 15px 0;
}
.manager-request-container {
    width: 90%;
}
.manager-request-body {
    border: 1px solid rgb(213, 215, 219);
    position: relative;
    background-color: white;
    display: flex;
    float: left;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    justify-content: stretch;
    box-sizing: border-box;
}