
.pending-request-item {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    margin: 5px;
    padding: 20px;
    border: 2px solid black;
}
.pending-request-item-data {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.pending-request-grid {
    display: grid;
    width: 100%;
}
.pending-request-grid-header {
    font-weight: bold;
}
.pending-request-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.pending-request-row div {
    border: 1px solid black;
    padding: 10px;
}
.bold {
    font-weight: bold;
}
.pending-textbox {
    width: 100%;
    border: 2px solid black;
    text-align: left;
    padding: 5px 10px;
    background-color: lightgray;
}
.pending-request-item-data {
    text-align: left;
    padding: 10px;
}

.pending-request-table {
    border: 1px solid purple;
    flex-grow: 1;
    width: 100%;
}
.pending-request-table td {
    padding: 5px;
    font-size: 1.1rem;
    text-align: center;
}
.pending-request-table-row {
    cursor: pointer;
}
.pending-request-open-request-row {
    cursor: default;
}
.pending-request-table tr:nth-child(even), th {
    background-color: #eae9e9;
}