.manager-request-main {
    background: linear-gradient(45deg, #FFB428 0%,
    #FA8214 45%, #FA8214 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.manager-request-container {
    width: 90%;
    max-height: 90%;
}
.open-request-close-button {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.manager-request-body {
    border: 2px solid black;
    position: relative;
    z-index: 1;
    background-color: white;
    display: flex;
    float: left;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: stretch;    
}
.manager-requests-body-container {
    border: 1px solid red;
    position: relative;
    flex-grow: 1;
}
.manager-table-open-request-left {
    width: 100%;
    padding: 25px;
    position: relative;
}
.manager-table-open-request-container {
    display: flex;
    flex-direction: row;
}
.cal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}
.manager-pending-request-item {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    margin: 5px;
    padding: 20px;
    border: 2px solid black;
}
.pending-request-item-data {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.bold {
    font-weight: bold;
}
#request-note-input {
    margin: 10px 0;
    resize: none;
    border: none;
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
}
#request-note-input:focus {
    outline: none;
}
.pending-textbox {
    width: 100%;
    border: 2px solid black;
    text-align: left;
    padding: 5px 10px;
    background-color: lightgray;
}
#pending-buttons {
    position: relative;
    z-index: 1;
}
.pending-button-current {
    border: 2px solid black;
    padding: 8px;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    pointer-events: none;
    color: black;
    font-weight: bold;
    background-color: white;
    position: relative;
    float: left;
    z-index: 3;
    bottom: -2px;
}
.pending-button-non-current {
    border: 2px solid black;
    padding: 8px;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    float: left;
    z-index: 0;
    position: relative;
    bottom: -2px;
    background-color: lightgray;
    cursor: pointer;
}
.pending-button-non-current:hover {
    background-color: gray;
    color: white;
}
#non {
    width: 100%;
    flex-grow: 1;
}
.pending-request-item-data {
    text-align: left;
    padding: 10px;
}

.manager-request-table {
    border: 1px solid purple;
    flex-grow: 1;
    width: 100%;
    background-color: yellow;
    transition: 1s;
}
.manager-request-table tr {
    transition: 1s;
}
.manager-request-table tr:nth-child(even) {
    background-color: #eae9e9;
}
.manager-request-disputed-days {
    text-align: left;
}
.manager-request-filter-nav {
    z-index: 0;
    height: auto;
    width: 0;
    background-color: aqua;
    transition: 0.5s;
}
.tab-test {
}
#manager-request-note-input {
    margin: 10px 0;
    resize: none;
    border: 1px solid #dcdcdc;
    padding: 0 5px;
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
}
#manager-request-note-input:focus {
    outline: none;
}

.manager-request-submit-response-button {
    background-color: darkblue;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 25px;
}
.manager-request-submit-response-button:hover {
    background-color: orange;
    box-shadow:0px 0px 0px 3px darkblue inset;
}