.Filter_Button {
    border: none;
    font-weight: lighter;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: Lato, sans-serif;
    color: rgb(82, 94, 113);
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    text-align: right;
    padding: 0 14px;
}
.Filter_Button:hover {
    color: rgb(27, 40, 56);
}