body .sign-in-page{
    background: #FF7801;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, #FFB428 0%,
    #FA8214 45%, #FA8214 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    max-height: 100%;
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 145px;
    padding-left: -100px;
    padding-right: 50px;
}
body .homepage-body{
    background: #FF7801;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, #FFB428 0%,
    #FA8214 45%, #FA8214 100%);
    font-family: 'Montserrat', sans-serif;
    max-height: 100%;
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 145px;
    padding-left: -100px;
    padding-right: 50px;
}

.container {
    background-color: #FFFFFF;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    height: 10px;
    width: 770px;
    max-width: 100%;
    min-height: 470px;
    border-radius: 10px;
}
.overlay-left{
    padding-bottom: 10px;
}
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}
.sign-in-container {
    width: 50%;
}
.overlay-container {
    position: absolute;
    left: 50%;
    width: 50%;
    overflow: hidden;
    justify-content: center;

}
.picture-align {
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    position: relative;
    left: -100%;
}
.continue-button{
    border-radius: 20px;
    border: 1px solid #00005F;
    background-color: #00005F;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.line1{
    width: 60%;
    height: 2px;
    border: 0 none;
    background-color: black;
    margin-left: 3.4rem;
}
.welcome-user{
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.25;
    margin-left: 50px;
    padding: 3px;
}