*{
    box-sizing: border-box;
    padding: 0;
}
body{
    background: #FF7801;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, #FFB428 0%,
    #FA8214 45%, #FA8214 100%);
    font-family: 'DM Sans', sans-serif;
}
body .sign-in-page{
    background: #FF7801;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, #FFB428 0%,
    #FA8214 45%, #FA8214 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 175px;
    padding-left: -100px;
    padding-right: 50px;
}

.container {
    background-color: #FFFFFF;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    height: 10px;
    width: 770px;
    max-width: 100%;
    min-height: 470px;
    border-radius: 10px;
}
.overlay-left{
    padding-bottom: 10px;
}
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}
.sign-in-container {
    width: 50%;
}
.overlay-container {
    position: absolute;
    left: 50%;
    width: 50%;
    overflow: hidden;
    justify-content: center;

}
.picture-align {
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    position: relative;
    left: -100%;
}
.continue-button{
    border-radius: 20px;
    border: 1px solid #00005F;
    background-color: #00005F;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.stats-page-body{
    background: #FF7801;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, #FFB428 0%,
    #FA8214 45%, #FA8214 100%);
    font-family: "Be Viewnam Pro";
    height: 100vh;
    color: white;
    letter-spacing: 0.2px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.sidebar-picture {
    background-color: #001E78;
    top: 0;
    left: 0;
    padding-left: 15px;
    overflow: hidden;

}
a:hover {
    text-decoration: none;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 170px;
    background-color: #001E78;
    overflow-y: auto;
    height: 100vh;
    border-right: 1px solid darkblue;
    margin-top: 60px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow-x: hidden;
    z-index: 2;
}

.sidebar ul li.active a{
    border-bottom: 2px solid #01A9F0;
    border-top: 2px solid #01A9F0;
    text-decoration: none;
    list-style: none;

}

.sidebar ul{
    padding: 0;
    margin: 0;
    text-decoration: none;

}
.sidebar span{
    text-decoration: none;

}

.sidebar > ul > li {
    margin: 15px 0;
    text-decoration: none;

}

.sidebar ul li a {
    color: #787DA5;
    width: 100%;
    display: inline-block;
    width: 260px;
    height: 37px;
    position: relative;
}

.sidebar ul li:hover a span{
    color: #01A9F0;
}

.sidebar ul li.active a span{
    color: white;
}

.stats-container{
    padding-left: 200px;
    padding-top: 80px;
    padding-right: 25px;
}
.container-stats-1{
    border: 1px solid black;
    margin-bottom: 1em;
    font-weight: 300;
    background: white;
}
.container-stats-1 .title{
    padding: 15px 20px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    color: #000;
    font-size: 18px;
}

/*HomePage*/
* {
    box-sizing: border-box;
}

.homepage-body {
    font-family: 'DM Sans', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: #FF7801;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, #FFB428 0%,
    #FA8214 45%, #FA8214 100%);
    width: 100%;
    margin: 5px;
    height: 97vh;
}

.homepage-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.homepage-content {
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: 16px 24px 24px 0;
}

.homepage-introduction {
    flex: 2;
    border-radius: 32px;
    padding: 32px 32px 0 32px;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.test-container{
    background-color: white;
    border-radius: 5px;
}

.date-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.date-header p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    opacity: 0.9;
    margin: 0;
}
.notification-section {
    margin-top: 16vh;
    height: 65vh;
    background-color: white;
    margin-left: 24px;
    flex: 1;
    width: 100%;
    position: relative;
    overflow: auto;
    border-radius: 5px;
}
.notification-section .date-header {
    position: sticky;
    top: 0;
    padding: 32px 24px 0 24px;
}
.message-box {
    border-top: 2px solid #e9ebf0;
    padding: 16px;
    display: flex;
    align-items: flex-start;
    width: 100%;
}
.message-box:hover {
    background-color: #E9EEF4;
}

.message-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.message-header .name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
}
.message-content {
    padding-left: 16px;
    width: 100%;
}

.message-line {
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0;
    opacity: 0.7;
}

.cards.jsGridView {

    display: flex;
    flex-wrap: wrap;
}
.cards.jsGridView .card-wrapper {
    width: 33.3%;
    height: 55%;
}
.cards.jsListView .card {
    display: flex;
    border-radius: 10px;
    position: relative;
}

.cards.jsListView . {
    order: 3;
    flex-direction: column;
    justify-content: flex-start;
}


.cards.jsListView .card-content-header p {
    text-align: left;
    overflow: hidden;
}
.cards.jsListView .card-header > span {
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 12px;
}

.card {
    border-radius: 30px;
    padding: 16px;
    border: black;
}
.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.card-header span {
    color: #4a4a4a;
    opacity: 0.7;
    font-size: 14px;
    line-height: 16px;
}
.card-content-header {
    text-align: center;
    margin-bottom: 16px;
}
.card-content-header p {
    margin: 0;
}
.card-wrapper {
    cursor: pointer;
    padding: 8px;
    border-style: solid;
    border-width: thin;
    background-color: white;
}

.card-wrapper:hover {
    background-color: #E9EEF4;
}

.card-info-header {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    opacity: 0.7;
}
.card-picture {
    line-height: 24px;
    opacity: 0.7;
}

@media screen and (max-width: 520px) {
    .cards.jsGridView .card-wrapper {
        width: 100%;
    }
    .homepage-introduction {
        padding: 24px 16px 0 16px;
    }
    .date-header p {
        font-size: 18px;
    }

    .cards.jsListView .card-header > span {
        font-size: 10px;
    }
    .cards.jsListView .card > * {
        margin-right: 10px;
    }
}


