.logo{
    height: 50px;
    width: 130px;
}
nav {
    position: fixed;
    width: 100%;
    background-color: #001E78;
    box-shadow: 0 6px 6px rgba(0,0,0,0.4);
    z-index: 1;
}

.navbar-home-links li{
    list-style: none;
}

.navbar-home-links li a{
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 19px;
    padding: 15px 20px;
    transition: all 0.3s ease;
}
.navbar-home-links .dropdown-menu-items{
    position: absolute;
    background-color: #001E78;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.navbar-home-links li:hover .dropdown-menu-items{
    transition: all 0.6s ease;
    float: left;
    top: 55px;
    opacity: 1;
    visibility: visible;

}
nav .navbar-wrapper{
    position: relative;
    max-width: 100%;
    padding: 0px 30px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-wrapper .navbar-home-links{
    display: inline-flex;
}
