@import"https://cdn.jsdelivr.net/npm/react/umd/react.production.min.js";


*{
    padding: 0;
    box-sizing: border-box;
}
.sign-in-page{
    background: #FF7801;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, #FFB428 0%,
    #FA8214 45%, #FA8214 100%);
    background-repeat: repeat-y;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
}

.official-login-container {
    background-color: white;
    box-shadow: 0 14px 21px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    flex-direction: row;
    margin: auto auto auto auto;
    display: flex;
    border-radius: 10px;
}
.left-side-login-picture{
    background-image: url("https://miro.medium.com/max/828/1*JLM_9XM6yqsWaMfMTSTEAg.jpeg");
    padding: 10px 10px 10px 10px;
    width: 400px;
    left: 10px;
    position: center;
    height: auto;
    background-size: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}

form {
    background-color: #FFFFFF;
    display: flex;
    padding: 40px 30px;
    width: 300px;
    align-items: flex-start;
    overflow: hidden;
}
.remember-info-styles{
}

form input {
    border: none;
    background-color: white;
    box-sizing: border-box;
    border-bottom: solid 1px black ;
    width: 100%;
}

form p{
    padding-bottom: 10px;
    font-size: 14px;
}
.continue-button{
    border-radius: 1px;
    border: 1px solid #00005F;
    background-color: #00005F;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.login-page-header{
    font-size: 22px;
    font-weight: 700;
}

.left-side-login-picture img {
    height: 40px;
    margin: 20px;
}
.remember-info-styles{
}
.remember-info-styles a {
    font-size: 10px;
}
/*Stats Page*/
.stats-page-body{
    background: #FF7801;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, #FFB428 0%,
    #FA8214 45%, #FA8214 100%);
    font-family: "Be Viewnam Pro";
    height: 100vh;
    color: white;
    letter-spacing: 0.2px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.sidebar-picture {
    background-color: #001E78;
    top: 0;
    left: 0;
    padding-left: 15px;
    overflow: hidden;

}
a:hover {
    text-decoration: none;
}

.stats-container{
    padding-left: 200px;
    padding-top: 80px;
    padding-right: 25px;
}
.container-stats-1{
    border: 1px solid black;
    margin-bottom: 1em;
    font-weight: 300;
    background: white;
}
.container-stats-1 .title{
    padding: 15px 20px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    color: #000;
    font-size: 18px;
}

/*Main*/
#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}