.grid-day-test {
    height: 100%;
    border: 1px solid black;
}
.grid-month-test {
    width: auto;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
    aspect-ratio: 7/6;
}
.empty {
    border: none;
}
.main-test {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
